# Problem 2: Write Clean the dataset and update the csv file

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Automobile_data.csv')

In [3]:
df.head(5)

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

In [5]:
df_temp = df.copy()

In [6]:
df_temp.head(5)

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

In [8]:
df_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             61 non-null     int64
 1   company           61 non-null     object
 2   body-style        61 non-null     object
 3   wheel-base        61 non-null     float64
 4   length            61 non-null     float64
 5   engine-type       61 non-null     object
 6   num-of-cylinders  61 non-null     object
 7   horsepower        61 non-null     int64
 8   average-mileage   61 non-null     int64
 9   price             58 non-null     float64
dtypes: float64(3), int64(3), object(4)
memory usage: 4.9+ KB

Check Price columns if null or not

In [19]:
df_temp[df_temp['price'].isna()]

Empty DataFrame
Columns: [index, company, body-style, wheel-base, length, engine-type, num-of-cylinders, horsepower, average-mileage, price]
Index: []

Replace all column values
which contain ?, n.a, or Nan.

In [20]:
df_temp = df_temp.replace("?","")

In [21]:
df_temp = df_temp.replace("n.a","")

In [18]:
df_temp = df_temp.fillna('')

In [29]:
df_temp.groupby(by="company")['company'].count().columns=['company', 'count']

In [33]:
df_car_count = df_temp.groupby(by="company")['company'].count()

In [39]:
df_car_count.columns=['company', 'count']

Count total cars per company.

In [40]:
df_car_count

company
alfa-romero      3
audi             4
bmw              6
chevrolet        3
dodge            2
honda            3
isuzu            3
jaguar           3
mazda            5
mercedes-benz    4
mitsubishi       4
nissan           5
porsche          3
toyota           7
volkswagen       4
volvo            2
Name: company, dtype: int64

Update the csv file

In [43]:
df_temp.to_csv('Automobile_data.csv')

# Problem 3 : Return the maximum profit you can achieve from this transaction. If you cannot achieve any profit, return 0.

In [ ]:
a = [7,1,5,3,6,4,1]

def price(a):
    profit = 0
    if a[1] > a[0]:
      profit = a[1] - a[0]
      buy_index = 0
      sell_index = 1
    else:
      buy_index = 1
    for i in range(2, len(a)):
      if a[i] >= a[buy_index]:
        profit_temp = a[i] - a[buy_index]
        if profit_temp > profit:
          profit = profit_temp
          sell_index = i
      else:
        buy_index = i
    # Result.
    print('Profit:', profit)
    if profit > 0:
      print('Buy index:', buy_index)
      print('Sell index:', sell_index)

price(a)